__pycache__
*.pyc
*.png
captions_BDDX_clean.json
results*
# playground/dolphins_bench
csvfiles/
mllm/otter/__pycache__/*
t
tmp*
vis/*
grad_cam_images/*
grad_cam_images11/*
cache/
black/*
tools/api.json
exr-*